[Unit]
Description=Start actual-tasks every night

[Timer]
Unit=actual-tasks-start.service
OnCalendar=*-*-* 01:00:00
Persistent=true

[Install]
WantedBy=timers.target
