[Unit]
Description=Start ghostfolio compose stack
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/path/to/actual_task
ExecStart=/usr/bin/docker compose up -d
