[Unit]
Description=Stop ghostfolio after 2 hours

[Timer]
Unit=ghostfolio-stop.service
OnCalendar=*-*-* 03:20:00
Persistent=true

[Install]
WantedBy=timers.target
